<rules>

  <rule name="Ignore Assets" stopProcessing="true">
    <match url="^assets/.*" />
    <action type="None" />
  </rule>

  <rule name="Static files" stopProcessing="true">
    <match url=".*" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
    </conditions>
    <action type="None" />
  </rule>

  <rule name="Route to index.php" stopProcessing="true">
    <match url=".*" />
    <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/index.php" />
  </rule>

</rules>